@model eComeStoreBuilder.Models.StoreRequestQue

@{
    ViewData["Title"] = "Home Page";
}
@{
    Layout = "eComStoreBuilder";
}


<style>
    .dropdown-list {
        position: relative;
        display: none;
    }

    .dropdown-item {
        width: 73% !important;
        cursor: pointer;
        padding: 10px;
        background-color: #f8f9fa;
        border: 1px solid #dee2e6;
    }

        .dropdown-item:hover {
            background-color: #e9ecef;
        }

    .form-control {
        font-size: 20px !important;
    }

   .finish {
        margin-bottom: -11%;
        margin-left: 17%;
    }
    @@media only screen and (max-width: 1195px) {
        .finish {
            margin-bottom: -20.2%;
            margin-left: 28%;
        }
    }

    @@media only screen and (max-width: 991px) {
        .finish {
            margin-bottom: -23%;
            margin-left: 31%;
        }
    }

    @@media only screen and (max-width: 473px) {
        .finish {
            margin-bottom: -25%;
            margin-left: 34%;
        }
    }
</style>



<main>
    <!-- slider-area -->
    <section class="slider-area slider-bg">
        <div class="slider-shape"><img src="img/slider/slider_shape01.png" alt="img"></div>
        <div class="slider-shape s-shape2"><img src="img/slider/slider_shape02.png" alt="img"></div>
        <div class="slider-shape s-shape3"><img src="img/slider/slider_shape03.png" alt="img"></div>
        <div class="container-fluid slider-container">
            <div class="slider-wrap">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="slider-content">
                            <h2 class="wow fadeInDown" data-wow-delay="0.2s">We Make Creative Market</h2>
                            <p class="wow fadeInUp" data-wow-delay="0.2s">
                                Find technology or people for digital projects in
                                public sector. Find an individual specialist. eg a developer or user
                                researcher.
                            </p>
                            <a href="all-product.html" class="btn wow fadeInUp" data-wow-delay="0.4s">Browse Projects</a>
                        </div>
                    </div>
                    <div class="col-lg-6 d-none d-lg-block">
                        <div class="slider-img fix text-right wow fadeInRight" data-wow-delay="0.6s">
                            <img src="img/slider/slider_img02.png" class="slider-img2" alt="">
                            <img src="img/slider/slider_img01.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider-img-ellipse"><img src="img/slider/slider_img_ellipse.png" class="rotateme" alt=""></div>
        <div class="slider-bottom-shape"><img src="img/slider/slider_bottom_shape.png" class="rotateme" alt=""></div>
    </section>
    <!-- slider-area-end -->
    <!-- create a store  -->



    <main class="d-flex align-items-center" id="store" style="background-color: lightgray;">
        <div class="container">
               <form asp-action="Create">
            <div id="wizard">
                <h3>Step 1 Title</h3>
                <section>
                    <h2 class="section-heading">What kind of your business</h2>
                    <div class="form-group">
                        <label for="business" class="sr-only">Business</label>
                            <input type="text" asp-for="Business" id="storeType" class="form-control" placeholder="Your business" style="padding: 29px 25px; min-height: 64px; max-width: 677px; border-radius: 28px; border: solid 1px gray;">
                    </div>
                        <div id="dropdownList" class="dropdown-list"></div>
                </section>

                <h3>Step 3 Title</h3>
                <section>
                    <h2 class="section-heading">Enter your Account Details</h2>
                    <div class="form-group">
                        <label for="firstName" class="sr-only">Store Title</label>
                        <input type="text" asp-for="StoreTitle" class="form-control" placeholder="Store title">
                    </div>
                    <div class="form-group">
                        <label for="lastName" class="sr-only">Full Name</label>
                        <input type="text" asp-for="Name" class="form-control" placeholder="Full Name">
                    </div>
                    <div class="form-group">
                        <label for="emailAddress" class="sr-only">Email Address</label>
                        <input type="email" asp-for="Email" class="form-control"
                               placeholder="Email Address">
                    </div>
                    <div class="form-group">
                        <label for="phoneNumber" class="sr-only">Phone Number</label>
                        <input type="number" asp-for="Phone" class="form-control" placeholder="Phone Number">
                    </div>
                    
                </section>
                <h3>Step 4 Title</h3>
                <section>
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <h5 class="bd-wizard-step-title">Step 4</h5>
                                <h2 class="section-heading mb-5">Payment Method</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div id="credit-card" class="tab-pane active pt-3">
                                
                                    <div class="form-group">
                                        <label for="username">
                                            <h6>Card Owner</h6>
                                        </label>
                                        <input type="text" name="username" placeholder="Card Owner Name" required class="form-control" />
                                    </div>
                                    <div class="form-group">
                                        <label for="cardNumber">
                                            <h6>Card number</h6>
                                        </label>
                                        <div class="input-group">
                                            <input type="text" name="cardNumber" placeholder="Valid card number" class="form-control" required />
                                            <div class="input-group-append">
                                                <span class="input-group-text text-muted">
                                                    <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 576 512">
                                                        <path d="M470.1 231.3s7.6 37.2 9.3 45H446c3.3-8.9 16-43.5 16-43.5-.2.3 3.3-9.1 5.3-14.9l2.8 13.4zM576 80v352c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V80c0-26.5 21.5-48 48-48h480c26.5 0 48 21.5 48 48zM152.5 331.2L215.7 176h-42.5l-39.3 106-4.3-21.5-14-71.4c-2.3-9.9-9.4-12.7-18.2-13.1H32.7l-.7 3.1c15.8 4 29.9 9.8 42.2 17.1l35.8 135h42.5zm94.4.2L272.1 176h-40.2l-25.1 155.4h40.1zm139.9-50.8c.2-17.7-10.6-31.2-33.7-42.3-14.1-7.1-22.7-11.9-22.7-19.2.2-6.6 7.3-13.4 23.1-13.4 13.1-.3 22.7 2.8 29.9 5.9l3.6 1.7 5.5-33.6c-7.9-3.1-20.5-6.6-36-6.6-39.7 0-67.6 21.2-67.8 51.4-.3 22.3 20 34.7 35.2 42.2 15.5 7.6 20.8 12.6 20.8 19.3-.2 10.4-12.6 15.2-24.1 15.2-16 0-24.6-2.5-37.7-8.3l-5.3-2.5-5.6 34.9c9.4 4.3 26.8 8.1 44.8 8.3 42.2.1 69.7-20.8 70-53zM528 331.4L495.6 176h-31.1c-9.6 0-16.9 2.8-21 12.9l-59.7 142.5H426s6.9-19.2 8.4-23.3H486c1.2 5.5 4.8 23.3 4.8 23.3H528z" />
                                                    </svg>
                                                    <svg class="icon" viewBox="0 0 38 24" xmlns="http://www.w3.org/2000/svg" role="img" width="48" height="30" aria-labelledby="pi-master"><path opacity=".07" d="M35 0H3C1.3 0 0 1.3 0 3v18c0 1.7 1.4 3 3 3h32c1.7 0 3-1.3 3-3V3c0-1.7-1.4-3-3-3z"></path><path fill="#fff" d="M35 1c1.1 0 2 .9 2 2v18c0 1.1-.9 2-2 2H3c-1.1 0-2-.9-2-2V3c0-1.1.9-2 2-2h32"></path><circle fill="#EB001B" cx="15" cy="12" r="7"></circle><circle fill="#F79E1B" cx="23" cy="12" r="7"></circle><path fill="#FF5F00" d="M22 12c0-2.4-1.2-4.5-3-5.7-1.8 1.3-3 3.4-3 5.7s1.2 4.5 3 5.7c1.8-1.2 3-3.3 3-5.7z"></path></svg>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-8">
                                            <div class="form-group">
                                                <label>
                                                    <span class="hidden-xs">
                                                        <h6>Expiration Date</h6>
                                                    </span>
                                                </label>
                                                <div class="input-group"><input type="number" placeholder="MM" name="" class="form-control" required /> <input type="number" placeholder="YY" name="" class="form-control" required /></div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group mb-4">
                                                <label data-toggle="tooltip" title="Three digit CV code on the back of your card">
                                                    <h6>CVV <i class="fa fa-question-circle d-inline"></i></h6>
                                                </label>
                                                <input type="text" required class="form-control" />
                                            </div>
                                        </div>
                                    </div>                                                                  
                            </div>
                        </div>

                    </div>
                    <div class="form-group finish">
                        <input type="submit" value="Create" style="
                            border:none;
	                        display: inline-block;
                            border-radius: 6px;
                            background-color: #00d69f;
                            padding: 16px 30px;
                            color: #fff;
                            font-style: 15px;
                            font-weight: bold;" />
                    </div>
                </section>
                   
            </div>
              </form>
        </div>
    </main>


    <!-- end create a store  -->
    <!-- services-area -->
    <section class="services-area gray-bg pt-120 pb-90">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-8 col-lg-9">
                    <div class="section-title text-center mb-65">
                        <span>About Us</span>
                        <h2>Why Chose Us</h2>
                        <p>
                            Business plan template presented here will get you started. A standard business plan consists of
                            a single
                            document divided into several sections
                        </p>
                    </div>
                </div>
            </div>
            <div class="services-wrap">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="services-box mb-30 wow fadeInUp" data-wow-delay="0.2s">
                            <div class="services-box-head">
                                <img src="img/icon/services_icon01.png" alt="">
                                <h4>Experienced Over Place <br> 10 The Years!</h4>
                            </div>
                            <div class="services-box-content">
                                <p>
                                    Annual Performance Statistics that Report provides detailed statistical information our
                                    performance stakeh.
                                </p>
                            </div>
                            <div class="services-overlay-icon"><img src="img/icon/services_icon011.png" alt=""></div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="services-box mb-30 wow fadeInUp" data-wow-delay="0.4s">
                            <div class="services-box-head">
                                <img src="img/icon/services_icon02.png" alt="">
                                <h4>Secure Transaction Custo <br> Traffic generation</h4>
                            </div>
                            <div class="services-box-content">
                                <p>
                                    Annual Performance Statistics that Report provides detailed statistical information our
                                    performance stakeh.
                                </p>
                            </div>
                            <div class="services-overlay-icon"><img src="img/icon/services_icon012.png" alt=""></div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="services-box mb-30 wow fadeInUp" data-wow-delay="0.6s">
                            <div class="services-box-head">
                                <img src="img/icon/services_icon03.png" alt="">
                                <h4>Within Banking Product <br> Banking Center</h4>
                            </div>
                            <div class="services-box-content">
                                <p>
                                    Annual Performance Statistics that Report provides detailed statistical information our
                                    performance stakeh.
                                </p>
                            </div>
                            <div class="services-overlay-icon"><img src="img/icon/services_icon013.png" alt=""></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- services-area-end -->
    <!-- features-area -->
    <section class="features-area features-bg pt-120 pb-65">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section-title white-title mb-40 wow fadeInUp" data-wow-delay="0.2s">
                        <span>What We do</span>
                        <h2>Lowest Pricing Available Online or Brand Themes Products Time</h2>
                    </div>
                    <div class="features-btn wow fadeInUp" data-wow-delay="0.4s">
                        <a href="contact.html" class="btn">More Features</a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="features-top-content">
                        <p>
                            Find technology or people for digital projects in public sector. Find an individual specialist
                            developer.
                        </p>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="features-box mb-50">
                                    <div class="features-icon mb-20">
                                        <img src="img/icon/features_icon01.png" alt="">
                                    </div>
                                    <div class="features-box-content">
                                        <h5>Experienced 10 Years!</h5>
                                        <p>Find technology or people for digital projects in public sector.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="features-box mb-50">
                                    <div class="features-icon mb-20">
                                        <img src="img/icon/features_icon02.png" alt="">
                                    </div>
                                    <div class="features-box-content">
                                        <h5>100% Response Rate</h5>
                                        <p>Find technology or people for digital projects in public sector.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="features-box mb-50">
                                    <div class="features-icon mb-20">
                                        <img src="img/icon/features_icon03.png" alt="">
                                    </div>
                                    <div class="features-box-content">
                                        <h5>Free Documentation</h5>
                                        <p>Find technology or people for digital projects in public sector.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="features-box mb-50">
                                    <div class="features-icon mb-20">
                                        <img src="img/icon/features_icon04.png" alt="">
                                    </div>
                                    <div class="features-box-content">
                                        <h5>30 Days Money Back Guaranty</h5>
                                        <p>Find technology or people for digital projects in public sector.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="features-shape fs-one"><img src="img/slider/slider_shape01.png" alt=""></div>
        <div class="features-shape fs-two"><img src="img/slider/slider_shape02.png" alt=""></div>
        <div class="features-shape fs-three"><img src="img/slider/slider_shape03.png" alt=""></div>
        <div class="features-shape fs-four">
            <img src="img/slider/slider_bottom_shape.png" class="rotateme" alt="">
        </div>
        <div class="features-polygon">
            <img src="img/images/features_polygon.png" alt="" data-parallax='{"y": -100}'>
        </div>
    </section>
    <!-- features-area-end -->
    <!-- product-area -->
    <section class="product-area gray-bg pt-120 pb-80">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-8 col-lg-9">
                    <div class="section-title text-center mb-65">
                        <span class="wow fadeInUp" data-wow-delay="0.2s">Let's Check Out</span>
                        <h2 class="wow fadeInUp" data-wow-delay="0.4s">Newest Release Themes</h2>
                        <p class="wow fadeInUp" data-wow-delay="0.6s">
                            Business plan template presented here will get you
                            started. A standard business plan consists of a single document
                            divided into several sections
                        </p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-xl-9 text-center">
                    <div class="product-menu mb-60 wow fadeInUp" data-wow-delay="0.6s">
                        <button class="active" data-filter="*">All</button>
                        <button class="" data-filter=".cat-one">WordPress</button>
                        <button class="" data-filter=".cat-two">Plugins</button>
                        <button class="" data-filter=".cat-three">Site Template</button>
                        <button class="" data-filter=".cat-four">Interface</button>
                        <button class="" data-filter=".cat-five">Landing Page</button>
                        <button class="" data-filter=".cat-six">Magento</button>
                    </div>
                </div>
            </div>
            <div class="row product-active">
                <div class="col-lg-4 col-md-6 grid-item cat-three cat-six">
                    <div class="product-item mb-40">
                        <div class="product-thumb">
                            <a href="/themes/bussinessweb/index.html" target="_blank">
                                <img src="img/product/project_thumb01.jpg" alt="">
                            </a>
                        </div>
                        <div class="product-item-content">
                            <div class="product-cat mb-10">
                                <ul>
                                    <li><a href="#"></a></li>
                                    <li>$123</li>
                                </ul>
                            </div>
                            <h4><a href="/themes/bussinessweb/index.html" target="_blank">Business Template</a></h4>
                            <p>Plus business presented here...</p>
                        </div>
                        <div class="product-meta">
                            <ul>
                                <li>
                                    <img src="img/product/porduct_avatar01.png" alt="">By <a href="https://dukanlay.com/"
                                                                                             target="_blank">Store Builder</a>
                                </li>
                                <li>
                                    <div class="product-rating">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 grid-item cat-three cat-five">
                    <div class="product-item mb-40">
                        <div class="product-thumb">
                            <a href="/themes/head-eccom/website/index.html" target="_blank">
                                <img src="img/product/project_thumb02.jpg" alt="">
                            </a>
                        </div>
                        <div class="product-item-content">
                            <div class="product-cat mb-10">
                                <ul>
                                    <li><a href="#"></a></li>
                                    <li>$22</li>
                                </ul>
                            </div>
                            <h4><a href="/themes/head-eccom/website/index.html" target="_blank">ECommerce Theme</a></h4>
                            <p>Plus business presented here...</p>
                        </div>
                        <div class="product-meta">
                            <ul>
                                <li>
                                    <img src="img/product/porduct_avatar02.png" alt="">By <a href="https://dukanlay.com/"
                                                                                             target="_blank">Store Builder</a>
                                </li>
                                <li>
                                    <div class="product-rating">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 grid-item cat-two cat-four">
                    <div class="product-item mb-40">
                        <div class="product-thumb">
                            <a href="/themes/personal-portfolio/index.html" target="_blank">
                                <img src="img/product/project_thumb03.jpg" alt="">
                            </a>
                        </div>
                        <div class="product-item-content">
                            <div class="product-cat mb-10">
                                <ul>
                                    <li><a href="#"></a></li>
                                    <li>$87</li>
                                </ul>
                            </div>
                            <h4>
                                <a href="/themes/personal-portfolio/index.html" target="_blank">Portfolio HTML Template</a>
                            </h4>
                            <p>Plus business presented here...</p>
                        </div>
                        <div class="product-meta">
                            <ul>
                                <li>
                                    <img src="img/product/porduct_avatar01.png" alt="">By <a href="https://dukanlay.com/"
                                                                                             target="_blank">Store Builder</a>
                                </li>
                                <li>
                                    <div class="product-rating">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 grid-item cat-one cat-five">
                    <div class="product-item mb-40">
                        <div class="product-thumb">
                            <a href="/themes/shoes-ecom/index.html" target="_blank">
                                <img src="img/product/project_thumb04.jpg" alt="">
                            </a>
                        </div>
                        <div class="product-item-content">
                            <div class="product-cat mb-10">
                                <ul>
                                    <li><a href="#"></a></li>
                                    <li>$32</li>
                                </ul>
                            </div>
                            <h4><a href="/themes/shoes-ecom/index.html" target="_blank">Personal Brand Template</a></h4>
                            <p>Plus business presented here...</p>
                        </div>
                        <div class="product-meta">
                            <ul>
                                <li>
                                    <img src="img/product/porduct_avatar01.png" alt="">By <a href="https://dukanlay.com/"
                                                                                             target="_blank">Store Builder</a>
                                </li>
                                <li>
                                    <div class="product-rating">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 grid-item cat-one cat-four">
                    <div class="product-item mb-40">
                        <div class="product-thumb">
                            <a href="/themes/car-rental-html-template/index.html" target="_blank">
                                <img src="img/product/project_thumb05.jpg" alt="">
                            </a>
                        </div>
                        <div class="product-item-content">
                            <div class="product-cat mb-10">
                                <ul>
                                    <li><a href="#" target="_blank"></a></li>
                                    <li>$55</li>
                                </ul>
                            </div>
                            <h4>
                                <a href="/themes/car-rental-html-template/index.html" target="_blank">Agency Template</a>
                            </h4>
                            <p>Plus business presented here...</p>
                        </div>
                        <div class="product-meta">
                            <ul>
                                <li>
                                    <img src="img/product/porduct_avatar02.png" alt="">By <a href="https://dukanlay.com/"
                                                                                             target="_blank">Store Builder</a>
                                </li>
                                <li>
                                    <div class="product-rating">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 grid-item cat-two cat-five">
                    <div class="product-item mb-40">
                        <div class="product-thumb">
                            <a href="/themes/gymer/index.html" target="_blank">
                                <img src="img/product/project_thumb06.jpg"
                                     alt="">
                            </a>
                        </div>
                        <div class="product-item-content">
                            <div class="product-cat mb-10">
                                <ul>
                                    <li><a href="#"></a></li>
                                    <li>$76</li>
                                </ul>
                            </div>
                            <h4>
                                <a href="/themes/gymer/index.html" target="_blank">Health and Fitness Website Template</a>
                            </h4>
                            <p>Plus business presented here...</p>
                        </div>
                        <div class="product-meta">
                            <ul>
                                <li>
                                    <img src="img/product/porduct_avatar01.png" alt="">By <a href="https://dukanlay.com/"
                                                                                             target="_blank">Store Builder</a>
                                </li>
                                <li>
                                    <div class="product-rating">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- product-area-end -->
    <!-- fact-area -->
    <section class="fact-area fact-bg pt-120 pb-90">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-ms-4 col-sm-6">
                    <div class="fact-box mb-30 wow fadeInUp" data-wow-delay="0.2s">
                        <div class="fact-icon mb-25">
                            <img src="img/icon/fact_icon01.png" alt="">
                        </div>
                        <div class="fact-box-content">
                            <h4 class="count">245</h4>
                            <span>Amazing Feature Item</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-ms-4 col-sm-6">
                    <div class="fact-box mb-30 wow fadeInUp" data-wow-delay="0.4s">
                        <div class="fact-icon mb-25">
                            <img src="img/icon/fact_icon02.png" alt="">
                        </div>
                        <div class="fact-box-content">
                            <h4 class="count">348</h4>
                            <span>Amazing Feature Item</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-ms-4 col-sm-6">
                    <div class="fact-box mb-30 wow fadeInUp" data-wow-delay="0.6s">
                        <div class="fact-icon mb-25">
                            <img src="img/icon/fact_icon03.png" alt="">
                        </div>
                        <div class="fact-box-content">
                            <h4 class="count">55</h4>
                            <span>Amazing Feature Item</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-ms-4 col-sm-6">
                    <div class="fact-box mb-30 wow fadeInUp" data-wow-delay="0.8s">
                        <div class="fact-icon mb-25">
                            <img src="img/icon/fact_icon04.png" alt="">
                        </div>
                        <div class="fact-box-content">
                            <h4 class="count">457</h4>
                            <span>Amazing Feature Item</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- fact-area-end -->
    <!-- pricing-area -->
    <section class="pricing-area pt-120 pb-120">
        <div class="container">
            <div class="row justify-content-between ct-pricing">
                <div class="col-xl-5 col-lg-6">
                    <div class="section-title mb-50">
                        <span>pricing strategy</span>
                        <h2>Free Store Builder Will Offer <br> Price for Your Business!</h2>
                    </div>
                    <div class="pricing-content">
                        <p>
                            Business plan template presented here will get you started. A standard business plan consists of
                            a single.
                        </p>
                        <p>
                            The price can be set to maximize profitability for each unit sold or from the market overall. It
                            can be used to defend
                            an existing market from new entrants, to increase
                        </p>
                        <div class="item--pricing-nav">
                            <span class="item--nav-monthly">Monthly</span>
                            <div class="item--nav">
                                <div class="nav-bg"></div>
                            </div>
                            <span class="item--nav-year">Yearly</span>
                        </div>
                        <form action="#" class="pricing-form">
                            <input type="radio" id="trial">
                            <label for="trial">or <span>Take 1 month free trial</span></label>
                        </form>
                    </div>
                </div>
                <div class="col-lg-6 position-relative">
                    <div class="ct-pricing-body ct-pricing-monthly">
                        <div class="ct-pricing-item item--first">
                            <div class="item-popular">limited offer</div>
                            <div class="ct-pricing-meta">
                                <div class="ct-pricing-meta-inner">
                                    <h3 class="ct-pricing-title">Standard</h3>
                                    <div class="ct-pricing-price">$17</div>
                                </div>
                            </div>
                            <ul class="item--feature">
                                <li><i class="fas fa-check"></i>Up to 5 Web Pages</li>
                                <li><i class="fas fa-check"></i>Single two theme optimization</li>
                                <li><i class="fas fa-check"></i>1 year support & updates</li>
                                <li><i class="fas fa-check"></i>20% Future Purchases</li>
                                <li><i class="fas fa-check"></i>5 WordPress Theme</li>
                            </ul>
                            <div class="ct-pricing-button">
                                <a class="btn btn-default"
                                   href="create-your-store.html">Purchase Now</a>
                            </div>
                        </div>
                        <div class="ct-pricing-item item--last">
                            <div class="ct-pricing-meta">
                                <div class="ct-pricing-meta-inner">
                                    <h3 class="ct-pricing-title">Standard</h3>
                                    <div class="ct-pricing-price">$59</div>
                                </div>
                            </div>
                            <ul class="item--feature">
                                <li><i class="fas fa-check"></i>Up to 5 Web Pages</li>
                                <li><i class="fas fa-check"></i>Single two theme optimization</li>
                                <li><i class="fas fa-check"></i>1 year support & updates</li>
                                <li><i class="fas fa-check"></i>20% Future Purchases</li>
                                <li><i class="fas fa-check"></i>5 WordPress Theme</li>
                            </ul>
                            <div class="ct-pricing-button">
                                <a class="btn btn-default"
                                   href="create-your-store.html">Purchase Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="ct-pricing-body ct-pricing-year">
                        <div class="ct-pricing-item item--first">
                            <div class="item-popular">limited offer</div>
                            <div class="ct-pricing-meta">
                                <div class="ct-pricing-meta-inner">
                                    <h3 class="ct-pricing-title">Standard</h3>
                                    <div class="ct-pricing-price">$99</div>
                                </div>
                            </div>
                            <ul class="item--feature">
                                <li><i class="fas fa-check"></i>Up to 5 Web Pages</li>
                                <li><i class="fas fa-check"></i>Single two theme optimization</li>
                                <li><i class="fas fa-check"></i>1 year support & updates</li>
                                <li><i class="fas fa-check"></i>20% Future Purchases</li>
                                <li><i class="fas fa-check"></i>5 WordPress Theme</li>
                            </ul>
                            <div class="ct-pricing-button">
                                <a class="btn btn-default"
                                   href="create-your-store.html">Purchase Now</a>
                            </div>
                        </div>
                        <div class="ct-pricing-item item--last">
                            <div class="ct-pricing-meta">
                                <div class="ct-pricing-meta-inner">
                                    <h3 class="ct-pricing-title">Standard</h3>
                                    <div class="ct-pricing-price">$199</div>
                                </div>
                            </div>
                            <ul class="item--feature">
                                <li><i class="fas fa-check"></i>Up to 5 Web Pages</li>
                                <li><i class="fas fa-check"></i>Single two theme optimization</li>
                                <li><i class="fas fa-check"></i>1 year support & updates</li>
                                <li><i class="fas fa-check"></i>20% Future Purchases</li>
                                <li><i class="fas fa-check"></i>5 WordPress Theme</li>
                            </ul>
                            <div class="ct-pricing-button"> <a class="btn btn-default" href="#">Purchase Now</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- pricing-area-end -->
    <div class="area-wrapper black-bg position-relative">
        <!-- brand-area -->
        <div class="brand-area pt-120">
            <div class="container">
                <div class="brand-wrap">
                    <div class="row no-gutters justify-content-center">
                        <div class="brand-item">
                            <img src="img/brand/Freshstore logo white.png" style="width: 89%;" alt="">
                        </div>
                        <div class="brand-item">
                            <img src="img/brand/Dukanlay.jpg" style="width: 89%;" alt="">
                        </div>
                        <div class="brand-item">
                            <img src="img/brand/IBI-logo.png" style="width: 89%;" alt="">
                        </div>
                        <div class="brand-item">
                            <img src="img/brand/logo-header.svg" style="width: 89%;" alt="">
                        </div>
                        <div class="brand-item">
                            <img src="img/brand/urban-races-logo(2).png" style="width: 89%;" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- brand-area-end -->
        <!-- testimonial-area -->
        <section class="testimonial-area pt-115 pb-140">
            <div class="container">
                <div class="testi-wrap">
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="section-title">
                                <h2>Feedback From our clients.</h2>
                            </div>
                            <div class="testi-quote">
                                <img src="img/icon/testi_quote01.png" alt="">
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="testimonial-active">
                                <div class="testimonial-item">
                                    <div class="testi-content">
                                        <p>
                                            “In promotion and of advertisin testimonial or show consists of a person's written
                                            or spoken statement that extolling
                                            the virtue of a product. The term - Testimonial"
                                        </p>
                                    </div>
                                    <div class="testi-avatar">
                                        <div class="testi-avatar-img">
                                            <img src="img/images/testi_avatar.png" alt="">
                                        </div>
                                        <div class="testi-avatar-info">
                                            <span>- Alexander Graham Bell, CEO ot Google</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="testimonial-item">
                                    <div class="testi-content">
                                        <p>
                                            “In promotion and of advertisin testimonial or show consists of a person's written
                                            or spoken statement that extolling
                                            the virtue of a product. The term - Testimonial"
                                        </p>
                                    </div>
                                    <div class="testi-avatar">
                                        <div class="testi-avatar-img">
                                            <img src="img/images/testi_avatar.png" alt="">
                                        </div>
                                        <div class="testi-avatar-info">
                                            <span>- Alexander Graham Bell, CEO ot Google</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="testimonial-item">
                                    <div class="testi-content">
                                        <p>
                                            “In promotion and of advertisin testimonial or show consists of a person's written
                                            or spoken statement that extolling
                                            the virtue of a product. The term - Testimonial"
                                        </p>
                                    </div>
                                    <div class="testi-avatar">
                                        <div class="testi-avatar-img">
                                            <img src="img/images/testi_avatar.png" alt="">
                                        </div>
                                        <div class="testi-avatar-info">
                                            <span>- Alexander Graham Bell, CEO ot Google</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-small-quote"><img src="img/icon/testi_quote02.png" alt=""></div>
                </div>
            </div>
        </section>
        <!-- testimonial-area-end -->
        <div class="testi-bg-shape"><img src="img/images/testi_shape.png" class="rotateme" alt=""></div>
    </div>
</main>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


<script>
    $(document).ready(function () {
        $('#storeType').keyup(function () {
            var input = $(this).val();
            var dropdown = $('#dropdownList');
            dropdown.empty();
            if (input.length >= 1) {
                $.post('/GetData/GetDropdownData', { input: input }, function (data) {
                    $.each(data, function (index, item) {
                        var option = $('<div class="dropdown-item"></div>').text(item.storeType);
                        option.click(function () {
                            $('#storeType').val($(this).text());
                            dropdown.empty();
                        });
                        dropdown.append(option);
                    });
                    dropdown.show();
                });
            } else {
                dropdown.hide();
            }
        });
    });
</script>